In [16]:
import pandas as pd

dataframe = pd.read_csv(r"../DATA/products.csv")

In [17]:
import pandas as pd

def modFill(dataset=pd.DataFrame({})):
    for i in dataset.select_dtypes(include="int64").columns:
        dataset[i] = dataset[i].fillna(dataset[i].mode()[0])

    for i in dataset.select_dtypes(include="object").columns:
        dataset[i] = dataset[i].fillna(dataset[i].mode()[0])

    for i in dataset.select_dtypes(include="float64").columns:
        dataset[i] = dataset[i].fillna(dataset[i].mode()[0])
    
    return dataset

In [18]:
new_dataframe = modFill(dataframe)
new_dataframe.head(10)

,product_id,product_name,aisle_id,department_id,price
0,1,100% Columbian Coffee,61.0,11.0,12.56
1,2,All-Seasons Salt,104.0,11.0,28.86
2,3,Robust Golden Unsweetened Oolong Tea,94.0,7.0,25.67
3,4,100% Columbian Coffee,47.0,1.0,39.60
4,5,Green Chile Anytime Sauce,47.0,13.0,35.76
5,6,Dry Nose Oil,11.0,11.0,40.04
6,7,Pure Coconut Water With Orange,98.0,7.0,24.82
7,8,Cut Russet Potatoes Steam N' Mash,47.0,1.0,22.46
8,9,Light Strawberry Blueberry Yogurt,120.0,16.0,17.62
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115.0,11.0,35.76

In [23]:
new_dataframe.isnull().sum()*100

product_id       0
product_name     0
aisle_id         0
department_id    0
price            0
dtype: int64